hr {
    margin-top: 5px;
    margin-bottom: 5px
}
#datatable thead{
    display: none
}
td .box {
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    margin-bottom: 0
}
.media-body p {
    padding-top: 10px
}
td h4 {
    margin-top: 0
}
td p {
    font-size: 12px;
    line-height: 8px
}
td a {
    color: #333;
    margin-top: -20px
}
td a:hover {
    color: #333
}
#payment .box-body {
    height: 200px;
}
.form-control[readonly] {
    background-color: #fff;
}
#info-table td{
    padding-right: 5px;
    padding-left: 5px
}
#info-table td:nth-child(2){
    font-size: 16px
}
#bantuan a {
    color: #333
}
#bantuan ul {
    background-color: #fff
}
#bantuan p {
    white-space: normal;
    padding-left: 15px;
    padding-right: 15px;
}
#bantuan a:hover {
    background-color: #fff
}
#bantuan ul:hover {
    background-color: #fff
}
#review h5 {
    font-weight: 600;
    font-size: 20px;
    color: #dd4b39
}
#review .box-footer p {
    margin-bottom: 0
}
#btn-rev:hover{
    background-color: #367fa9
}