<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta Tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Vilena template">
    <meta name="keywords" content="blog, bootstrap, company portfolio, cv template, experience, html template, one page, personal, portfolio, team members">
    <meta name="author" content="Unicoder">
    <!-- Required style of the theme -->
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <!--===============================================================================================-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">


    <link rel="stylesheet" href="../assets/template/css/bootstrap-4.1.3.min.css">

    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="../assets/template/css/animate.min.css" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../assets/template/css/fontawesome-all-5.2.0.min.css">
    <!--===============================================================================================-->
    <link href="../assets/template/css/flaticon.css" rel="stylesheet">
    <!--===============================================================================================-->
    <link href="../assets/template/css/loaders.css" rel="stylesheet">
    <!--===============================================================================================-->
    <link href="../assets/template/css/settings.css" rel="stylesheet">
    <!-- Settings CSS -->
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../assets/template/css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../assets/template/css/layerslider.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../assets/template/css/color.css" id="color-change">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../assets/template/css/default_animation.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../assets/template/css/jquery.fancybox.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../assets/template/css/responsive.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="../assets/template/css/bootstrap-datepicker.css">
    <!--===============================================================================================-->

    <title>Safa Guest House</title>
</head>

<body>
    <!-- Start page loader -->
    <!--<div class="preloader bg-primary">
	<div id="tout">
	  <div>
		<div>
		  <div>
		  </div>
		</div>
	  </div>
	</div>
</div> -->
    <!--
<div class="preloader bg-primary">
	<div class="loader-circle">Loading...</div>
</div>
-->
    <!-- <div class="preloader bg-dark">
        <div id="cupcake" class="box">
            <span class="letter text-default">H</span>
            <div class="cupcakeCircle box bg-default">
                <div class="cupcakeInner box bg-dark">
                    <div class="cupcakeCore box bg-default"></div>
                </div>
            </div>
            <span class="letter text-default">T</span>
            <span class="letter text-default">E</span>
            <span class="letter text-default">L</span>
        </div>
    </div> -->
    <!-- End page loader -->


    <div id="page_wrapper">
        <div class="row">
            <!-- Header 4 Section Start -->
            <header class="header-4 nav-on-top" id="header">
                <div class="top-header text-white py-2 bg-primary">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="float-left"><i class="fas fa-map-marker-alt"></i><span>Jalan Danau Tondano Raya
                                        Blok F4 No. A14, Sawojajar, Kota Malang. 65139.</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="float-right">
                                    <li><a href="mailto:mail@domain.com" class="text-white"><i class="fas fa-envelope"></i>mail@domain.com</a>
                                    </li>
                                    <li><a href="callto:+62-812-345-6789" class="text-white"><i class="fas fa-phone"></i>+62-812-345-6789</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-header bg-white">
                    <div class="container">
                        <div class="row">
                            <nav class="navbar navbar-expand-lg navbar-light w-100"> <a class="navbar-brand" href="index.html"><img
                                        class="nav-logo" src="../assets/template/img/logo/logo.png" alt="logo"></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                    <span class="navbar-toggler-icon"></span>
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item"> <a class="nav-link" href="#">Promo</a> </li>
                                        <li class="nav-item"> <a class="btn btn-primary-bg ml-2" href="#">Informasi Pemesanan</a>
                                            </li>
                                    </ul>
                                    <!-- <a class="btn btn-default-bg ml-2" href="booking-form.php">Booking Now</a>  -->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header 4 Section End -->
            <div class="full-row overlay-1 bg-img-5" id="page-banner">
                <div class="container">
                    <div class="row py-80">
                        <div class="col-sm-6">
                            <h3 class="banner-title text-white text-uppercase">Booking Form</h3>
                        </div>
                        <div class="col-sm-6">
                            <ul class="pages-link">
                                <li><a href="index.html">Home</a></li>
                                <li>/</li>
                                <li>Booking Form</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Banner Section End -->


            <section class="full-row bg-gray" style="padding: 20px">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="full-row bg-white" id="page-banner-reserve">
                                <div class="container">
                                    <div class="row">
                                        <div class="room-detail-info">
                                            <div class="float-left">
                                                <h3>Classic Room</h3>
                                                <span>Classic room for our vip guest, also available for family touriest.</span>
                                            </div>
                                            <div class="float-right text-right">
                                                <div class="amount-per-night"><b>Rp. 125.000 /</b> <span> malam </span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="widget check-form">
                                <form action="invoice.html">
                                    <div class="row">
                                        <h3>Isi Data Pemesanan</h3>
                                        <div class="form-group" class="col-lg-12 col-sm-12">
                                            <label class="text-block-1">Nama Tamu</label>
                                            <input required type="text" class="form-control">
                                        </div>
                                        <div class="form-group" class="col-lg-12 col-sm-12">
                                            <label class="text-block-1">Nama Kontak</label>
                                            <input required type="text" class="form-control">
                                        </div>
                                        <div class="form-group" class="col-lg-12 col-sm-12">
                                            <label class="text-block-1">No. Handphone</label>
                                            <input required type="tel" class="form-control">
                                        </div>
                                        <div class="form-group" class="col-lg-12 col-sm-12">
                                            <label class="text-block-1">Alamat E-Mail</label>
                                            <input required type="email" class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-default-bg mt-3">Konfirmasi Pesanan</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="widget check-form" id="form-verif">
                                <!-- <p id="text-desc">SAFA Kost & Guesthouse (ECO) <br> Jalan Danau Tondano Raya Blok F4 No.
                                    A14, Sawojajar, Malang, Kota Malang, Jawa Timur 65139.</p> -->
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <p class="text-secondary">Check-in</p>
                                        </td>
                                        <td width="70%">
                                            <p class="text-right">Senin, 29 April 2019</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="text-secondary">Lama Menginap</p>
                                        </td>
                                        <td>
                                            <p class="text-right">1 Malam<br><small>(Check-out: 30 April 2019)</small></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="text-secondary">Rincian Pembayaran</p>
                                        </td>
                                        <td>
                                            <p class="text-right">Rp. 125.000 x 1</p>
                                        </td>
                                    </tr>
                                </table>
                                <span class="btn btn-primary">Total Pembayaran: Rp. 125.000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Footer Section Start -->
            <footer class="full-row footer-bg footer-3 py-80" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="widget-title down-line-left text-white">Destinasi Tempat Wisata</h4>
                                <ul>
                                    <li><a href="#">-</a></li>
                                    <li><a href="#">-</a></li>
                                    <li><a href="#">-</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="widget-title down-line-left text-white">Tentang SAFA House</h4>
                                <ul>
                                    <li><a href="#">-</a></li>
                                    <li><a href="#">-</a></li>
                                    <li><a href="#">-</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="widget-title down-line-left text-white">Layanan Pelanggan</h4>
                                <ul>
                                    <li><a href="#">-</a></li>
                                    <li><a href="#">-</a></li>
                                    <li><a href="#">-</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="social-media x-center mt-5">
                                <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://plus.google.com"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="https://www.pinterest.com"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->

            <!-- Copyright Section Start -->
            <div class="full-row copyright-3 py-4 text-white text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <span>Copyright © 2018 All rights reserved</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright Section End -->
            <div class="scroll-to-top">
                <a href="#" class="btn-scroll" data-target="body"><i class="fa fa-angle-up" aria-hidden="true"></i><b>Back
                        to Top</b></a>
            </div>
        </div>
    </div>
    <!-- Wrapper End -->

    <!-- jQuery first, Layer slider, then Popper.js, then Bootstrap JS -->
    <!--===============================================================================================-->
    <script src="../assets/template/js/jquery-1.12.4.min.js"></script>
    <script src="../assets/template/js/greensock.js"></script>
    <!--===============================================================================================-->
    <!--jQuery Layer Slider -->
    <script src="../assets/template/js/layerslider.transitions.js"></script>
    <script src="../assets/template/js/layerslider.kreaturamedia.jquery.js"></script>
    <!--===============================================================================================-->
    <script src="../assets/template/js/popper-1.14.3.min.js"></script>
    <script src="../assets/template/js/bootstrap-4.1.3.min.js"></script>
    <script src="../assets/template/js/bootstrap-select.js"></script>
    <!--===============================================================================================-->
    <!--Achievement Number Animation-->
    <script src="../assets/template/js/nsc.js"></script>
    <!--===============================================================================================-->
    <script src="../assets/template/js/jquery.fancybox.pack.js"></script>
    <!--===============================================================================================-->
    <!--Home 1 page Offer limit-->
    <script src="../assets/template/js/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="../assets/template/js/owl.js"></script>
    <script src="../assets/template/js/wow.js"></script>
    <!--===============================================================================================-->
    <!--Photo galary-->
    <script src="../assets/template/js/mixitup.js"></script>
    <!--===============================================================================================-->
    <!--Date Piker -->
    <script src="../assets/template/js/jquery.timepicker.js"></script>
    <script src="../assets/template/js/bootstrap-datepicker.js"></script>
    <script src="../assets/template/js/site.js"></script>
    <script src="../assets/template/js/datepair.js"></script>
    <script src="../assets/template/js/jquery.datepair.js"></script>
    <!--===============================================================================================-->
    <script src="../assets/template/js/loaders.css.js"></script>
    <script src="../assets/template/js/YouTubePopUp.jquery.js"></script>
    <script src="../assets/template/js/validate.js"></script>
    <!--===============================================================================================-->
    <!--- Template Settings Jquery -->
    <script src="../assets/template/js/jquery.cookie.js"></script>
    <script src="../assets/template/js/settings.js"></script>
    <!--===============================================================================================-->
    <script src="../assets/template/js/custom.js"></script>
    <!-- Map jQuery -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPZ-Erd-14Vf2AoPW2Pzlxssf6-2R3PPs&callback=initMap"></script>
<script src="../assets/template/js/map.scripts.js"></script> -->


    <!-- For Home page5 side nav -->
    <script>

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginRight = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginRight = "0";
        }
    </script>

</body>

</html>